/* style.css */

body {
    margin: 0;
    font-family: 'Inter', sans-serif; /* Certifique-se de que essa fonte está importada na sua página */
}

.Frame1Button {
    width: 1422px;
    height: 3168px;
    padding: 634px 321px;
    background: linear-gradient(0deg, white 0%, white 100%), url(bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Frame3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Title {
    width: 780px;
    height: auto;
    text-align: center;
}

.Benefit {
    width: 407px;
    height: 562px;
}

.Ofert {
    width: 780px;
    height: 550px;
    text-align: center;
}

.Button {
    width: 739px;
    height: 213px;
    align-self: center;
}

.Img1,
.Img2 {
    width: 334px;
    height: 334px;
    position: absolute;
    box-shadow: -4px 7px 4.5px #63DDFF; 
    border-radius: 9999px;
}
